<%- include('partials/header') %>
<!-- <button class="ContactSticky"><i class="fa-sharp fa-solid fa-arrow-up"></i></button> -->
<%- include('partials/home') %>
<%- include('partials/about') %>
<%- include('partials/skills') %>
<%- include('partials/exprience') %>
<%- include('partials/service') %>
<%- include('partials/contact') %>

<%- include('partials/footer') %>